@model VMMAPI.Models.IE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddIE</title>
    <script src="~/assets/js/bootstrap.min.js"></script>
</head>
<body>  
    <div id="divget" class="container-fluid faq">
        <div class="table-cvr">
            <h2>Frequently asked incidents</h2>
            <table border="1" width="100%">

                <thead>
                    
                </thead>

                <tbody>
                    @{
                        foreach (System.Data.DataRow dr in ViewBag.IE.Rows)
                        {
                            <tr>
                                <td>@dr["Question"] <br />
                                    <a href=@dr["Answer"]>@dr["Answer"]</a>
                                </td>
                                <td>
                                    <a href="/IE/UpdateIE?Id=@dr["Id"]">Edit</a>
                                </td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        
    </div>                     
</body>
</html>