html, body {
    height: 100%;
}

body {
    width: 100%;
    color: #131313;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(105, 18, 201, .03);
}

input, button:focus {
    outline: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.login-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 171, 197, .67);
}

.login-form .form-control::-moz-placeholder { /* Firefox 19+ */
    color: rgba(0, 171, 197, .67);
}

.login-form .form-control:-ms-input-placeholder { /* IE 10+ */
    color: rgba(0, 171, 197, .67);
}

.login-form .form-control:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 171, 197, .67);
}
/* login page */
nav.navbar {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    margin-bottom: 0;
    border: none;
}

.navbar-header {
    min-width: 300px;
}

.navbar-brand > img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.logo-txt {
    position: relative;
    color: rgba(88, 106, 144, 1);
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}

nav.pmd-navbar .navbar-nav > li {
    /* margin-right: 10px; */
}

    nav.pmd-navbar .navbar-nav > li > a {
        color: #586A90;
        padding: 23px 20px;
        transition: .3s all ease-in-out;
        text-transform: capitalize;
        font-size: 12px;
        font-weight: 400;
    }

        nav.pmd-navbar .navbar-nav > li > a i {
            font-size: 13px;
            font-weight: 500;
            vertical-align: text-top;
            margin-right: 5px;
        }

nav.pmd-navbar ul.navbar-nav {
}

nav.pmd-navbar .navbar-nav > li > a:hover, nav.pmd-navbar .navbar-nav > li > a.active, nav.pmd-navbar .navbar-nav > li > a:active, nav.pmd-navbar .navbar-nav > li > a:focus {
    color: #586A90;
    background-color: rgba(88, 106, 144, .12);
}

.vmm-txt {
    padding: 15px 0;
}

.navbar .media-right.media-middle {
    padding-left: 0;
}

.navbar .media-left {
    padding-right: 0;
}

.navbar i.material-icons.md-dark.pmd-sm {
    padding-top: 5px;
}

.top-m {
    padding-top: 90px;
}

.navbar-header svg {
    margin-left: -25px;
}

.pf-menu {
    color: #231F20;
}

    .pf-menu span {
        display: inline-block;
        min-width: 50px;
        text-align: center;
    }

.sel-dat label {
    color: #00abc5;
}

    .sel-dat label i {
        vertical-align: text-bottom;
        color: rgba(96, 13, 219, 1);
    }

.sel-dat .pmd-textfield-focused {
    background: #00abc5;
}

.sel-dat label span {
    vertical-align: sub;
    font-size: 14px;
}

.sel-dat label img {
    margin-right: 3px;
}

.sel-dat .pmd-textfield input.form-control {
    height: 34px;
}

.sel-dat span.pmd-switch-label {
    height: 27px;
    width: 200px;
    border: 1px solid #00abc5;
    background: none;
    content: '';
    font-size: 14px;
    margin-top: 7px;
}

.sel-dat .pmd-switch label .pmd-switch-label::after {
    background-color: #00abc5;
    height: 26px;
    top: 0;
    left: -1px;
    content: 'SAE';
    width: 110px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    margin: auto;
    line-height: 27px;
}

.sel-dat .pmd-switch label .pmd-switch-label:before {
    position: absolute;
    content: 'SRE';
    right: 40px;
    margin: auto;
    line-height: 27px;
    color: #00abc5;
}

.sel-dat .pmd-switch label input[type=checkbox]:checked + .pmd-switch-label::before {
    left: 40px;
    content: 'SAE';
}

.sel-dat .pmd-switch label input[type=checkbox]:checked + .pmd-switch-label {
    background-color: transparent;
}

    .sel-dat .pmd-switch label input[type=checkbox]:checked + .pmd-switch-label::after {
        right: 0;
        background-color: #00abc5;
        left: unset;
        content: 'SRE';
    }

.sel-dat label.radio-inline {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
}

.sel-dat .radio-inline span:before {
    top: 1px;
    border-color: #2A006F;
}

.sel-dat .radio-inline span:after {
    top: 11px;
    background: #2A006F;
    border-color: #2A006F;
}

.sel-dat .pmd-radio :checked + span.pmd-radio-label:before {
    border-color: #2A006F;
}

.sta-hdr label {
    margin-bottom: 15px;
}

.rd-btn-bx label span {
    font-size: 16px;
    font-weight: 500;
    color: #2A006F;
}

.res-box h2 {
    color: #00abc5;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

    .res-box h2 img {
        vertical-align: bottom;
        margin-right: 3px;
    }

.nos {
    padding: 0;
}

    .nos img {
        height: 16px;
    }

.res-box .form-group label {
    color: #00abc5;
}

.res-box .form-group img {
    vertical-align: sub;
    margin-right: 5px;
}

.top-m20 {
    margin-top: 20px;
}

.ev-det, .atp {
}

.res-box .pmd-card {
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 10px;
}

.res-box table.table thead th {
    color: #533B71;
}

.res-box table.table tbody tr {
    color: #231F20;
}

    .res-box table.table tbody tr td:first-child {
        padding: 5px 0 5px 5px;
    }

    .res-box table.table tbody tr td:nth-child(2) {
        padding: 5px;
    }

    .res-box table.table tbody tr td:last-child {
        width: 20px;
    }

.res-box .table > tbody > tr > td {
    border: none;
    padding: 2px;
}

.res-box .table > thead > tr > th {
    border: none;
    padding: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.res-box .form-control {
    height: unset;
}

.assn {
    float: right;
    display: inline-block;
}

.g-btn {
    color: #57B29D;
    background-color: transparent;
    border: 1px solid #57B29D;
    padding: 3px 20px;
    width: unset;
    height: unset;
}

    .g-btn:hover, .g-btn:active, .g-btn:focus {
        background-color: #57B29D;
        border: 1px solid #57B29D;
    }

.btn.pmd-btn-fab.g-btn i {
    line-height: 18px;
    font-size: 12px
}

.btn.pmd-btn-fab.g-btn {
    width: auto;
    height: auto;
    border-radius: 25px;
}

.hcu {
    width: 50%;
    float: left;
}

    .hcu h2, .pav h2 {
        border-bottom: 1px solid #E7E7E7;
        padding-bottom: 20px;
        margin: 0;
        padding-top: 20px;
    }

    .hcu h2 {
        padding-left: 15px;
    }

.hcr-cvr {
    border-right: 1px solid #E7E7E7;
    padding: 15px 0 0;
    height: 320px;
}

.pav h2 {
    padding-right: 15px;
    padding-left: 15px;
}

.pav {
    width: 50%;
    float: left;
}

.atp {
    margin-right: 0px;
    overflow: hidden;
}

.container2 {
    display: block;
    position: relative;
    cursor: pointer;
}

    /* Hide the browser's default radio button */
    .container2 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.checkmark11 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    width: 60px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #00abc5;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark11 {
    background-color: #00abc5;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark11 {
    background-color: #00abc5;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark11:after {
    content: "";
    position: absolute;
    display: none;
    border: solid #00abc5;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark11:after {
    display: block;
    border-color: #fff;
}

.container2 input ~ .checkmark11:hover:after {
    display: block;
    border-color: #fff;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark11:after {
    top: -2px;
    left: 0px;
    width: 4px;
    height: 8px;
    border: solid #00abc5;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: block;
    bottom: 0;
    right: 0;
    margin: auto;
}
/* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-bottom: 10px;
}
    /* Hide the browser's default checkbox */
    .container1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 15px;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid #00abc5;
    border-radius: 3px;
}
/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #00abc5;
}
/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #00abc5;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container1:hover .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
}
/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label.container1 {
    font-weight: 400;
}

.nicescroll-cursors {
    background-color: #ccc !important;
}

.btn-box {
    text-align: center;
    margin-bottom: 0px;
    border-top: 2px solid #E7E7E7;
    padding-top: 15px;
}

    .btn-box .btn {
        padding: 10px 30px;
        min-width: 150px;
        text-transform: capitalize;
        font-size: 14px;
        border-radius: 5px;
        box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    }

.btn.btn-danger {
    background-color: rgba(233, 81, 36, 1);
}

.btn-box .btn.btn-success {
    background-color: rgba(87, 189, 132, 1);
}

.pmd-textfield .form-control {
    font-size: 12px;
}

/*login page*/
.bg-img {
    background: url(../images/bg_image.png) no-repeat;
    height: 100vh;
    background-position: 0 -50px;
    background-size: cover;
    padding-top: 40px;
}

    .bg-img h1 {
        margin-top: 10px;
    }

.line h1 span {
    text-shadow: 4px 6px 16px rgba(0,0,0,.56);
    color: #fff;
    display: block;
    margin-left: 10%;
    margin-top: 15%;
}

.line h1 img {
    margin-left: 8%;
}

.login-form-bg {
    background: url(../images/form_bg_image.svg) no-repeat;
    background-position: right bottom;
    background-size: contain;
    height: 100vh;
}

.login-form {
    padding: 0 30px;
    width: 100%;
}

.login-head h2 {
    font-size: 28px;
    padding: 15px 0;
    color: rgba(227, 227, 227, .87);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: right;
    padding-right: 40px;
    margin-bottom: 40px;
}

.login-head h3 {
    padding-left: 30px;
    font-size: 17px;
    color: #57BD84;
}

    .login-head h3 span {
        padding-left: 20px;
        display: inline-block;
        max-width: 380px;
        width: 100%;
        vertical-align: middle;
    }

.login-form form {
    padding: 40px;
}

.login-form .form-control {
    border-radius: 0px;
    border: 0;
    border-bottom: 1px solid rgba(0, 171, 197, .67);
    padding: 13px 35px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.login-form .form-group {
    margin-bottom: 40px;
    position: relative;
}

    .login-form .form-group img {
        position: absolute;
        top: 16px;
        left: 5px;
    }

.login-btn {
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    display: block;
    background-color: #1a2d4e;
    border: 2px solid #1a2d4e;
    transition: all .3s ease-in-out;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 50px;
    margin: 0 auto;
    margin-top: 60px;
}

    .login-btn:hover, .login-btn:focus, .login-btn:active {
        color: #1a2d4e;
        border: 2px solid #1a2d4e;
        background-color: transparent;
    }

    .login-btn span {
        display: block;
    }

.fgt-link {
    color: #ed7754;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: center;
    font-weight: 500;
    display: block;
    line-height: 0;
    text-decoration: underline;
}

    .fgt-link:hover {
        color: #da6542;
        text-decoration: underline;
    }

.login-form .form-group:last-child {
    margin-bottom: 5px;
}

.text-p {
    margin-top: 30px;
}

.login-form p {
    color: rgba(85, 17, 228, 1);
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}
/*in progress*/
.in-pro .sta-hdr label {
    margin-bottom: 10px;
}

.in-pro .sta-hdr .form-group {
    position: relative;
}

.in-pro .form-group i {
    position: absolute;
    top: 7px;
    right: 5px;
    color: rgba(96, 13, 219, 1);
    font-size: 17px;
    cursor: pointer;
    padding: 4px 0;
}

.inp .table > thead > tr > th {
    padding-left: 5px;
    color: rgba(96, 13, 219, 1);
    font-size: 14px;
}

.inp .table > tbody > tr > td {
    padding-left: 5px;
    color: rgba(35, 31, 32, 1);
    font-size: 14px;
}

    .inp .table > tbody > tr > td .green-btn, .green-btn {
        color: rgba(39, 157, 130, 1);
        border: 1px solid rgba(39, 157, 130, 1);
        padding: 3px 10px;
        border-radius: 20px;
        display: block;
        text-align: center;
    }

    .inp .table > tbody > tr > td .red-btn, .red-btn {
        color: rgba(221, 81, 73, 1);
        border: 1px solid rgba(221, 81, 73, 1);
        padding: 3px 20px;
        border-radius: 20px;
        display: block;
        text-align: center;
        transition: all .5s ease-in-out;
    }

.inp .pmd-textfield input.form-control {
    height: 34px;
}

.inp .btn, .inp .btn.pmd-btn-raised {
    background: #00abc5;
    border: 1px solid #00abc5;
    color: #fff;
    transition: all .3s ease-in-out;
    padding: 10px 30px;
    border-radius: 3px;
    margin-top: 17px;
    box-shadow: none;
}

    .inp .btn:hover, .inp .btn:focus, .inp .btn:hover, .inp .btn:hover, .inp .dt-buttons .dt-button:focus, .inp .dt-buttons .dt-button:hover {
        background: transparent;
        border: 1px solid #00abc5;
        color: #00abc5;
    }

.inp .dt-buttons .dt-button {
    background: #00abc5;
    border: 1px solid #00abc5;
    color: #fff;
    transition: all .3s ease-in-out;
    padding: 10px 30px;
    border-radius: 3px;
    margin-top: 17px;
    box-shadow: none;
    line-height: 1.1;
}

.inp .dataTables_filter label {
    color: #00abc5;
}

.inp .dataTables_filter input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

    .inp .dataTables_filter input:focus {
        border-bottom: 1px solid #00abc5;
    }

.inp .dataTables_wrapper {
    background: #fff;
    padding: 10px;
}

.inp table.dataTable.no-footer {
    border-bottom: 1px solid #ccc;
}

.dataTable i {
    font-size: 18px;
    color: #00abc5;
    padding-right: 5px
}
/*call details*/
.sta-hdr label a {
    color: #4C1C9C;
    font-weight: 500;
    font-size: 16px;
}

.call-det .sta-hdr label i {
    vertical-align: text-top;
    margin-right: 5px;
    padding-top: .5px;
}

.pho-rec, .cd-left-cvr {
    background-color: rgba(255, 255, 255, .54);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.cd-left-cvr {
    padding-bottom: 10px;
}

    .cd-left-cvr h2 {
        border-bottom: 1px solid rgba(231, 231, 231, 1);
        margin-top: 0;
    }

        .cd-left-cvr h2 span {
            padding: 20px;
            font-size: 16px;
            font-weight: 500;
            display: inline-block
        }

        .cd-left-cvr h2 a {
            margin: 10px;
        }

    .cd-left-cvr .red-btn {
        padding: 7px 20px;
    }

        .cd-left-cvr .red-btn:hover, .cd-left-cvr .red-btn:active, .cd-left-cvr .red-btn:focus {
            background-color: rgba(221, 81, 73, 1);
            color: #fff;
        }

.res-box .cd-left-cvr table.table tbody tr td {
    padding: 10px 20px;
    font-size: 16px;
    color: rgba(106, 10, 212, 1);
}

    .res-box .cd-left-cvr table.table tbody tr td img {
        vertical-align: text-top;
        margin-right: 5px;
    }

.res-box .cd-left-cvr table {
    margin-bottom: 0;
}

    .res-box .cd-left-cvr table.table tbody tr td:last-child {
        font-weight: 500;
        color: rgba(42, 0, 111, 1);
    }

.cs-rgt-cvr h3, .cs-rgt-cvr h2 {
    font-size: 16px;
    font-weight: 500;
    color: #6A0AD4;
    padding-left: 15px;
}

.cs-rgt-cvr h2 {
    border-bottom: 1px solid #E7E7E7;
    padding: 15px;
    margin: 0;
}

.cs-rgt-cvr .hcr-cvr {
    border: none;
}

.cs-rgt-cvr .hcr-rep {
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}

.hcr-rep .hca-hd span:first-child {
    padding-right: 10px;
}

.hcr-rep .hca-content {
    padding-left: 20px;
    margin-top: 10px;
}

    .hcr-rep .hca-content > div {
        width: 20%;
        float: left;
    }

    .hcr-rep .hca-content img {
        width: 64px;
        height: 36px;
    }

    .hcr-rep .hca-content .btn-con-cvr {
        margin-top: 5px;
    }

.btn-con-cvr a {
    padding: 0 10.5px;
    display: inline-block;
    line-height: 15px;
}

    .btn-con-cvr a i {
        font-size: 9px;
    }

.logout-icon {
    background: url(../images/logout-icon.png) no-repeat;
    width: 16px;
    height: 20px;
    background-color: transparent;
    border: none;
    margin-top: 16px;
}
/* rad btn */
.rad-btn1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .rad-btn1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom radio button */
.rad-btn .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border-radius: 0;
    border: none;
}

/* On mouse-over, add a grey background color */
.rad-btn1:hover input ~ .checkmark {
    background-color: #efecec;
}

/* When the radio button is checked, add a blue background */
.rad-btn1 input:checked ~ .checkmark {
    background-color: #00abc5;
    border: 1px solid #00abc5;
    border-radius: 50px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.rad-btn input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.rad-btn1 .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
}

.rad-btn label.rad-btn1 {
    display: inline-block;
    position: relative;
    line-height: 0;
}

.rad-btn {
    width: 267px;
    height: 27px;
    position: relative;
    border: 1px solid #00abc5;
    border-radius: 50px;
    margin-top: 7px;
}

    .rad-btn .checkmark {
        top: -15px;
        width: 89px;
        border-radius: 50px;
    }

.monthly .checkmark {
    left: 0;
}

.quaterly .checkmark {
    left: 49px;
}

.one-time .checkmark {
    left: 100px;
}

.monthly .checkmark:before {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 100px;
    height: 20px;
    border-radius: 50%;
    content: 'Monthly';
    color: #00abc5;
}

.quaterly .checkmark:before {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 100px;
    height: 20px;
    border-radius: 50%;
    content: 'Quaterly';
    color: #00abc5;
}

.one-time .checkmark:before {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 100px;
    height: 20px;
    border-radius: 50%;
    content: 'One Time';
    color: #00abc5;
}

.monthly .checkmark:after {
    top: 12px;
    left: 17px;
    width: 100px;
    height: 20px;
    border-radius: 50%;
    content: 'Monthly';
    color: #fff;
}

.quaterly .checkmark:after {
    top: 12px;
    left: 17px;
    width: 100px;
    height: 20px;
    border-radius: 50%;
    content: 'Quaterly';
    color: #fff;
}

.one-time .checkmark:after {
    top: 12px;
    left: 17px;
    width: 100px;
    height: 20px;
    border-radius: 50%;
    content: 'One Time';
    color: #fff;
}

/* IE */
.cmn-qa-box {
    background: #fff;
    padding: 12px 15px 17px;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
}

    .cmn-qa-box input:focus {
        border-bottom: 1px solid rgba(0, 171, 197, .57);
    }

.add-to-ie input {
    background-color: #00abc5;
    padding: 7px 20px;
    border: 1px solid #00abc5;
    color: #fff;
    transition: .3s all ease-in-out;
    border-radius: 3px;
}

    .add-to-ie input:hover, .add-to-ie input:focus {
        background: none;
        color: #00abc5;
        border: 1px solid #00abc5;
    }

.form-horizontal .cmn-qa-box label {
    color: rgba(26, 45, 78, 1);
    font-weight: 700;
    font-size: 16px;
}

.faq .table-cvr {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    padding: 15px;
}

.faq h2 {
    font-size: 16px;
    color: rgba(97, 117, 124, 1);
    font-weight: 500;
    margin-top: 0;
}

.faq table, .faq table td {
    border: none;
    padding: 10px 0;
}

    .faq table tr {
        border-bottom: 2px solid #fafafa;
    }

        .faq table tr td:first-child {
            color: #00abc5;
        }

            .faq table tr td:first-child a {
                color: rgba(26, 45, 78, 1);
            }

        .faq table tr td:last-child a {
            color: #00abc5;
        }

.faq a:hover {
    text-decoration: none;
}

.tblAttendance {
    background: #fff;
}

.table-normal {
    overflow: auto;
    max-height: 350px;
}

    .table-normal tr td, .table-normal tr th {
        padding: 5px 10px !important;
    }


    .table-normal1 .table > tbody > tr > td, .table-normal1 .table > thead > tr > th {
        min-width: 120px;
    }

        .table-normal1 .table > tbody > tr > td.cust-width {
            min-width: 300px;
        }

        .table-normal1 .table > tbody > tr > td.cust-width1 {
            min-width: 200px;
        }

.inp .table-normal table.dataTable {
    background: #fff;
}
